<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<h1>joseph's suggested: "Quote of the Day!"</h1>

<!-- Sharethis -->

<span class='st_sharethis_large' displayText='ShareThis'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_evernote_large' displayText='Evernote'></span>
<span class='st_email_large' displayText='Email'></span>
<div class='post-footer'>

<!-- iHeartquotes -->

<iframe width="300" 
  height="125"
  frameborder="0"
  scrolling="no"         src="http://iheartquotes.com/api/v1/random?format=html&max_lines=6&max_characters=320&width=225&height=165">
<a href="http://iheartquotes.com/fortune/random">Random Quote</a>
</iframe>


<h1>joseph's Pragmatic Catalog for Ruby Professionals </h1>
</br>

<!-- list of products -->

<% @products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image_url) %>
    <h3><%= product.title %></h3>
    <p><%= sanitize(product.description) %></p>
    <div class="price_line">
<!-- START:currency -->
      <span class="price"><%= number_to_currency(product.price) %></span>
      <%= button_to 'Add to Cart', line_items_path(:product_id => product) %>
    </div>
  </div>
<% end %>
